---
title: Digital Garden
---

<h1>{{ title }}</h1>

<ul>
  {% for note in notes %}
    <li>
      <a href="{{ note.path | replace('src/site/', '') | replace('.md', '.html') }}">
        {{ note.title }}
      </a>
      (zuletzt geändert: {{ note.last_modified | date('YYYY-MM-DD') }})
    </li>
  {% endfor %}
</ul>
